*,
*::before,
*::after {
  box-sizing: border-box;
}







.signupForm {

  max-width: 700px;
  border-radius: 7px;
  margin: 2rem auto;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fde68a;
  border: 1px solid #eab308;
  padding: 2rem 2rem;



}



.formGrid {
  margin-bottom: 1rem;
  width: 100%;
  gap: 1rem;
  column-gap: 3rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}



@media (max-width: 768px) {
  .formGrid {
    grid-template-columns: 1fr;
  }

  .signupForm {
    width: 90vw;
  }
}