*,
*::before,
*::after {
  box-sizing: border-box;
}



.login {

  margin: 3rem;



}


.formWarper {


  background-color: #fde68a;
  border: 1px solid #eab308;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  max-width: 400px;
  min-width: 300px;

  padding: 2rem 2rem;
  gap: 3rem;
}






.form {


  margin: 0 auto;

  border-radius: 7px;
  /* padding: 2rem 3rem; */

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;





}

.actions {
  display: flex;
  justify-content: space-between;
}

.logout {
  cursor: pointer;
}

.logout:hover {
  color: #3d3d3db9;
}



.line {
  text-decoration: underline;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}