/* ThemeToggleButton.module.css */

/* קלאסים רגילים למרכיבים ספציפיים */
.dark {
  background-color: #111;
  color: #eee;
}

.light {
  background-color: #fff;
  color: #111;
}

.btnDark {
  padding: 0;
  border: none;
  background-color: transparent;
}

/* משתנים גלובליים למצב ברירת מחדל (בהיר) */
:global(:root) {
  --main-bg: white;
  --main-text: #222;
  --shadow-color: rgba(0, 0, 0, 0.05);

}

/* משתנים גלובליים למצב כהה */
:global(:root.dark-mode) {
  --main-bg: #111;
  --main-text: #eee;
  --shadow-color: rgba(255, 164, 27, 0.1);
}

/* רקע וטקסט של body לפי משתנים */
:global(body) {
  background-color: var(--main-bg);
  color: var(--main-text);
}