.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1rem;

  margin: 0 auto;
  background-color: #fff7f0;
  border: 1px solid #ffa94d;
  border-radius: 8px;
  width: 1000px;
  margin-top: 150px;
}



.formGrid {
  width: 100%;

  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;

}

input,
textarea {
  width: 12rem;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #ffa94d;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

h2 {
  text-align: center;
}