.AppNav {
  color: white;
  align-items: center;
  padding: 22px;
  justify-content: space-between;
  display: flex;
  background: linear-gradient(to right, #ffaf59, hsla(33, 100%, 54%, 0.979), #ffaf59);
  height: 55px;
  position: fixed;
  top: 0;
  z-index: 1000000;

}

.UserNav {
  width: 100vw;
  background-color: var(--main-bg);
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 900px; */
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 10PX;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100000;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.modeIcon {
  color: white;
  padding: 0;
}

.leftSide {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px
}

.btnLogin {
  font-weight: bold;
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  font-size: 40px;
}

.greeting {
  font-weight: 500;

  color: #ffffff;
}

.profileIcon {
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #84ce7d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.addCard {

  color: white;
  border-radius: 8px;
  border: 1px solid #ffa94d;
  background-color: #ffa94d;
  font-weight: 600;
  padding: 6px 12px;
  cursor: pointer;
  display: inline-block;

}



.logo {

  width: 125px;
  height: auto;


}

.middlePart {
  display: flex;
  flex: 1;
  justify-content: center;
}



/* 
header div {
  display: flex;
  gap: 32px;
  align-items: center;
} */



header button {
  font-size: 14px;
}

.logWarper {
  justify-content: flex-end;
  flex: 1;
  gap: 0.5rem;
  display: flex;

  align-items: center;
  height: auto;
}

.clear {
  background-color: white;
  color: #ffa94d;
}