.warper {
  margin-top: 50px;
}








.cardGrid {
  display: grid;
  gap: 1rem;
  /* gap-4 → 16px */
  padding: 1rem;
  /* p-4 → 16px */
  margin-bottom: 300px;

}


@media (min-width: 640px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* md:grid-cols-3 */
@media (min-width: 768px) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* lg:grid-cols-4 */
@media (min-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}





.addCard {
  margin: 80px;
  color: #fafaf9;
  border-radius: 8px;

  background-color: #fbbf24;
  font-weight: 600;
  padding: 9px 24px;
  cursor: pointer;
  display: inline-block;

}

.addCard:hover {
  background-color: #f59e0b
}