.cardGrid {
  display: grid;
  gap: 1rem;
  /* gap-4 → 16px */
  padding: 1rem;
  /* p-4 → 16px */

}


@media (min-width: 640px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* md:grid-cols-3 */
@media (min-width: 768px) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* lg:grid-cols-4 */
@media (min-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}